 <div class="gtco-container">

        <div class="row">
            <div class="col-sm-2 col-xs-12">
                <div id="gtco-logo"><a href="index.html"><img src="images/logo.png" alt="Free HTML5 Website Template by GetTemplates.co"></a></div>
            </div>
            <div class="col-xs-10 text-right menu-1">
                <ul>
                    <li ><a href="index.html">Главная</a></li>
                    <li><a href="about.html">О проекте</a></li>
                    <!--<li class="has-dropdown">
                        <a href="services.html">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">eCommerce</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="#">Dropdown</a>
                        <ul class="dropdown">
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                            <li><a href="#">Sass</a></li>
                            <li><a href="#">jQuery</a></li>
                        </ul>
                    </li>-->
                    <li><a href="cabinet.html">Личный кабинет</a></li>
                    <li><a href="contact.html">Выход</a></li>
                </ul>
            </div>
        </div>

 </div>