button.button:hover {
    color: orangered;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

button.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 150px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button.cellButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    width: 100px;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

p.agent {
    font-size: 16px;
    font-family: Arial, serif;
    font-weight: bold;
}

p.msg {
    font-size: 12px;
    font-style: italic;
    font-family: Arial, serif;
}

input {
    font-size: 16px;
    font-family: Arial, fantasy;
}

h1 {
    text-align: center;
    color: darkblue;
    font-family: Arial, fantasy;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}
tr:first-child td {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}
 tr:nth-child(even){background-color: #f2f2f2;}

 tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

[title~="Agent1"] {
    color: red;
}

[title~="Agent2"] {
    color: blue;
}

[title~="Agent3"] {
    color: orangered;
}

[title~="Agent4"] {
    color: orange;
}

[title~="Agent5"] {
    color: aqua;
}

td.blockchain {
    font-size: 12px;
}